<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.product.mapper.ProductQuotationMapper">

    <resultMap id="BaseResultMap" type="com.hs.product.domain.ProductQuotation">
            <id property="productCode" column="product_code" jdbcType="VARCHAR"/>
            <result property="productNetValue" column="product_net_value" jdbcType="DECIMAL"/>
            <result property="tDate" column="t_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_code,product_net_value,t_date
    </sql>
</mapper>
