<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.product.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.hs.product.domain.Product">
            <id property="productCode" column="product_code" jdbcType="VARCHAR"/>
            <result property="productNetValue" column="product_net_value" jdbcType="DECIMAL"/>
            <result property="netValueDate" column="net_value_date" jdbcType="DATE"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="riskLevel" column="risk_level" jdbcType="VARCHAR"/>
            <result property="productType" column="product_type" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="productStatus" column="product_status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_code,product_net_value,net_value_date,
        product_name,risk_level,product_type,
        description,product_status
    </sql>
    <!-- 添加 SQL 查询语句 -->
    <select id="queryProductInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        product
    </select>
</mapper>
